<h3><%= link_to '새 글 쓰기', new_post_path %></h3> <br>
<%= image_tag "me.jpeg" %>
<br>

전체
<br>
<% @posts.each do |p| %>
    <%= p.title %>
    <%= link_to '이 글 보기', post_path(p.id) %> |
    <%= link_to '수정하기', edit_post_path(p.id) %> |
    <%= link_to '삭제하기', post_path(p.id), method: :delete, data: { confirm: '이 글을 삭제하시겠습니까?'} %>
    <br>
<% end %>

<br>
사랑
<br>
<% @posts_love.each do |p| %>
    <%= p.title %>
    <%= link_to '이 글 보기', post_path(p.id) %> |
    <%= link_to '수정하기', edit_post_path(p.id) %> |
    <%= link_to '삭제하기', post_path(p.id), method: :delete, data: { confirm: '이 글을 삭제하시겠습니까?'} %>
    <br>
<% end %>

<br>
사는얘기
<br>
<% @posts_life.each do |p| %>
    <%= p.title %>
    <%= link_to '이 글 보기', post_path(p.id) %> |
    <%= link_to '수정하기', edit_post_path(p.id) %> |
    <%= link_to '삭제하기', post_path(p.id), method: :delete, data: { confirm: '이 글을 삭제하시겠습니까?'} %>
    <br>
<% end %>

<br>
저..진지합니다
<br>
<% @posts_serious.each do |p| %>
    <%= p.title %>
    <%= link_to '모달로 이 글 수정하기', edit_post_path(p.id), 'data-toggle' => 'modal', 'data-target' => '#myModal' %> |
    <%= link_to '이 글 보기', post_path(p.id) %> |
    <%= link_to '수정하기', edit_post_path(p.id) %> |
    <%= link_to '삭제하기', post_path(p.id), method: :delete, data: { confirm: '이 글을 삭제하시겠습니까?'} %>
    <br>
<% end %>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Post</h4>
      </div>
      <div class="modal-body">
        <p>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>