New Post
<%= form_for @post   do |f| %>
    <%= f.select :category_id, options_from_collection_for_select(@categories, "id", "name") %><br>
    <%= f.text_field :title, placeholder: '제목을 입력해주세요' %><br>
    <%= f.text_area :content, placeholder: '내용을 입력해주세요', rows: '5' %><br>
    <%= f.submit %>
<% end %>

<hr>

전체
<br>
<% @posts.each do |p| %>
    <%= image_tag ('me.jpeg') %>
    <%= p.title %><br>
    <%= p.content %><br>
    <%= link_to '수정하기', edit_post_path(p.id), 'data-toggle' => 'modal', 'data-target' => '#myModal'  %> |
    <%= link_to '삭제하기', post_path(p.id), method: :delete, data: { confirm: '이 글을 삭제하시겠습니까?'} %>
    <br>

      <% p.comments.each do |c| %>
        <%= c.content %><br>
      <% end %>

      <%= form_for @comment, url: post_comments_path(post_id: p.id ) do |f| %>
          <%= f.text_area :content %> <br>
          <%= f.submit "작성하기" %>
      <% end %>
    <br>
<% end %>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Post</h4>
      </div>
      <div class="modal-body">
        <p>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>